In [1]:
step = 100
length_cut = 1000
random_flag = False
name_dataset = "dataset_2"

In [2]:
import pandas as pd
from utils.text_processing import partition_text, pre_process_text

In [3]:
df_train = pd.read_csv("df_train_" + name_dataset + ".csv")

In [4]:
df_val = pd.read_csv("df_val_" + name_dataset + ".csv")

In [5]:
df_test = pd.read_csv("df_test_" + name_dataset + ".csv")

In [6]:
df_train.head(5)

                label                                               text
0      hermanMelville  \nTHE PIAZZA TALES\n\nby\n\nHERMAN MELVILLE,\n...
1  nathanielHawthorne  \n\n\nMOSSES FROM AN OLD MANSE AND OTHER STORI...
2             bmBower  ﻿\n\n\n\n\nTHE LONG SHADOW\n\n\n\n\nBY B.M. BO...
3          andrewLang  \n\nTHE PINK FAIRY BOOK\n\nBy Various\n\n\nEdi...
4       charlesDarwin  \nCORAL REEFS\n\nby CHARLES DARWIN\n\n\n\n\nED...

In [7]:
df_train.shape

(60, 2)

In [8]:
df_val.shape

(20, 2)

In [9]:
df_test.shape

(20, 2)

In [10]:
df_train.label.value_counts()

horatioAlger          3
pgWodehouse           3
richardHarding        3
hectorMunro           3
allanPoe              3
thomasHardy           3
charlesDickens        3
whashingtonIrving     3
markTwain             3
henryJames            3
nathanielHawthorne    3
bramStoker            3
janeAusten            3
zaneGrey              3
arthurDoyle           3
charlesDarwin         3
bmBower               3
hgWells               3
andrewLang            3
hermanMelville        3
Name: label, dtype: int64

In [11]:
df_test.label.value_counts()

whashingtonIrving     1
charlesDickens        1
andrewLang            1
pgWodehouse           1
allanPoe              1
thomasHardy           1
horatioAlger          1
markTwain             1
richardHarding        1
hectorMunro           1
nathanielHawthorne    1
bramStoker            1
henryJames            1
zaneGrey              1
arthurDoyle           1
janeAusten            1
charlesDarwin         1
bmBower               1
hgWells               1
hermanMelville        1
Name: label, dtype: int64

In [12]:
df_val.label.value_counts()

zaneGrey              1
charlesDickens        1
richardHarding        1
allanPoe              1
nathanielHawthorne    1
thomasHardy           1
bramStoker            1
horatioAlger          1
markTwain             1
pgWodehouse           1
hectorMunro           1
andrewLang            1
henryJames            1
janeAusten            1
arthurDoyle           1
charlesDarwin         1
bmBower               1
hgWells               1
whashingtonIrving     1
hermanMelville        1
Name: label, dtype: int64

In [13]:
df_train['text'] = df_train['text'].apply(lambda t: pre_process_text(t, remove_stop_words=False, only_stop_words=False))

In [14]:
df_test['text'] = df_test['text'].apply(lambda t: pre_process_text(t, remove_stop_words=False, only_stop_words=False))

In [15]:
df_val['text'] = df_val['text'].apply(lambda t: pre_process_text(t, remove_stop_words=False, only_stop_words=False))

In [33]:
a= [w for w in df_val['text'][0] if w.lower() in ['CHARLES'.lower(), 'DARWIN'.lower()]]
a

['CHARLES',
 'DARWIN',
 'Darwin',
 'Darwin',
 'CHARLES',
 'DARWIN',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Charles',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin',
 'Darwin']

In [16]:
min_len_book_train = min([len(i) for i in df_train["text"]])
min_len_book_test = min([len(i) for i in df_test["text"]]) 
min_len_book_val = min([len(i) for i in df_val["text"]])
min_len_book = min([min_len_book_train, min_len_book_test, min_len_book_val])
min_len_book

41452

In [17]:
df_train_par=partition_text(df_train, step, length_cut, min_len_book, random_flag)
df_val_par=partition_text(df_val, step, length_cut, min_len_book, random_flag)
df_test_par=partition_text(df_test, step, length_cut, min_len_book, random_flag)

In [18]:
df_train_par.shape

(24900, 2)

In [19]:
df_test_par.shape

(8300, 2)

In [20]:
df_val_par.shape

(8300, 2)

In [21]:
df_train_par.label.value_counts()

zaneGrey              1245
pgWodehouse           1245
hgWells               1245
arthurDoyle           1245
hectorMunro           1245
thomasHardy           1245
bmBower               1245
whashingtonIrving     1245
janeAusten            1245
markTwain             1245
hermanMelville        1245
andrewLang            1245
richardHarding        1245
charlesDickens        1245
horatioAlger          1245
bramStoker            1245
allanPoe              1245
henryJames            1245
charlesDarwin         1245
nathanielHawthorne    1245
Name: label, dtype: int64

In [22]:
df_test_par.label.value_counts()

andrewLang            415
zaneGrey              415
nathanielHawthorne    415
bmBower               415
whashingtonIrving     415
janeAusten            415
charlesDickens        415
bramStoker            415
hgWells               415
allanPoe              415
henryJames            415
arthurDoyle           415
markTwain             415
hectorMunro           415
thomasHardy           415
horatioAlger          415
hermanMelville        415
charlesDarwin         415
pgWodehouse           415
richardHarding        415
Name: label, dtype: int64

In [23]:
df_val_par.label.value_counts()

andrewLang            415
zaneGrey              415
nathanielHawthorne    415
bmBower               415
whashingtonIrving     415
janeAusten            415
charlesDickens        415
bramStoker            415
hgWells               415
allanPoe              415
henryJames            415
arthurDoyle           415
markTwain             415
hectorMunro           415
thomasHardy           415
horatioAlger          415
hermanMelville        415
charlesDarwin         415
pgWodehouse           415
richardHarding        415
Name: label, dtype: int64

In [24]:
df_train_par.to_csv("df_train_" + name_dataset + "_" + str(length_cut) + "_" + str(random_flag) + ".csv", index=False)

In [25]:
df_test_par.to_csv("df_test_" + name_dataset + "_" + str(length_cut) + "_" + str(random_flag) + ".csv", index=False)

In [26]:
df_val_par.to_csv("df_val_" + name_dataset + "_" + str(length_cut) + "_" + str(random_flag) + ".csv", index=False)